@model Forma1.Models.RaceGroup

@{
    ViewData["Title"] = "Details";
}

<h1>Team Details</h1>

<div>
    <h4>RaceGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YoF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YoF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WonRaces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WonRaces)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
