@model IEnumerable<Forma1.Models.RaceGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Registered Race Teams</h1>

<p>
    <a asp-action="Create">Register New Team</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YoF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WonRaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YoF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WonRaces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
